.city{
  position: relative;
  width: 786px;
  height: 448px;
}

.text{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%;-50%);
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px #FF0000;
}

.body{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%;-50%);
}
